@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


/* .actions-container{
    border: 1px solid white;
} */
.actions-container .circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #3FE168;
    display: flex;
    align-items: center;

}
.actions-container .circle span {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-left: 12.5px;
    margin-top: -1px;
}


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
}

.actions-container .circle .material-symbols-outlined {
    font-variation-settings:
        'FILL'1,
        'wght'700,
        'GRAD'50,
        'opsz'200;
    color: #2b2b2b;
    cursor: pointer;
}


.actions-container #download{
    color: #CCCCCC;
    margin-left: 100px;
    font-size: 40px;
    cursor: pointer;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'50,
        'opsz'200;

}

.actions-container #favorite {
    margin-left: 28px;
    font-size: 40px;
    margin-top:-18px;
    margin-left: 90px;
}