@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.container-top-bar {
    text-transform: uppercase;
    position: relative;
    left: 320px;
    top: 320px;
    width: 75%;
    height: 35px;
    display: flex;
    flex-direction: column;
    color: #CCCCCC;
    font-size: 14px;
}

.container-top-bar .top {
    display: flex;
    align-items: center;
}

.container-top-bar .top .title-hashtag {
    display: flex;
    align-items: center;
    margin-right: 49%;
}

.container-top-bar .top .title-hashtag .hashtag {
    margin: 0 15px 0 25px;
}

.container-top-bar .top .album {
    margin-right: 31%;
}

.container-top-bar .bottom {
    margin-top: 5px;
    width: 100%;
    border-bottom: 0.5px solid #cccccc97;

}

@media screen and (max-width: 1300px) {
    .container-top-bar {
        width: 65%;
    }

    .container-top-bar .material-symbols-outlined {
        display: none;
    }

    .container-top-bar .top .title-hashtag {
        margin-right: 47%;
    }
}

@media screen and (max-width: 1048px) {

    .container-top-bar .top .title-hashtag {
        margin-right: 45%;
    }
}

@media screen and (max-width: 930px) {
    .container-top-bar .top .title-hashtag {
        margin-right: 40%;
    }

    .container-top-bar {
        width: 60%;
    }
}